/* navigation dropdown menu alphabet START */

 /* Dropdown Button */
 .dropbtna {
    background-color: #e4cdcd;
    color: rgb(0, 0, 0);
    padding: 2px;
    font-size: 16px;
    border-style: double;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtna:hover, .dropbtna:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdowna {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-contenta {
    display: none;
    position: absolute;
    background-color: #e7dede;
    
    max-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
    overflow: auto;
    max-height: 70vh;

   
    left: 10px;
    top: 50px;
    align-items: left;
  }
  
  /* Links inside the dropdown */
  .dropdown-contenta a {
    color: rgb(35, 23, 202);
    padding: 5px 6px;
    text-decoration: none;
    display: inline;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-contenta a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .showa {display:block;} 
  
  /* navigation dropdown menu alphabet END */