html {
    font-size: calc(18px + 0.390625vw);   
}

body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}


a:link, :visited {color: rgb(0, 0, 255)}
a:hover {
    color: blue;
    background-color: rgb(212, 206, 206);
    text-decoration: underline;
  }
  
  a:active {
    color: blue;
    background-color: rgb(160, 149, 149);
    text-decoration: underline;
  }