html {
  
}

body{
    background-color: rgb(29, 28, 39);
    color: rgb(255, 255, 255);
    max-width: 95vw;
    margin-left: 2vw;
    margin-top: 5vh;
    margin-bottom: 10px;

  }



/* a tag START */
a:link, :visited {color: rgb(26, 30, 250);

}

a:hover {
    color: rgb(250, 26, 64);
    text-decoration: underline;
    background-color: rgba(35, 35, 160, 0.5);
  }
  
  a:active {
    color: rgb(221, 231, 74);
    text-decoration: underline;
  }
/* a tag END */




/* background for link text START */

.linkl {
  margin-top: 0px;
  border-radius: 50px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(235, 196, 196);
  display: inline-block;
  font-size: 30px;
  background-color: rgb(233, 185, 185);
  border-style: inset;
}
.linkm {
  margin-top: 0px;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(56, 119, 75, 0.3);
  display: inline-block;
  font-size: 30px;
  background-color: rgb(172, 221, 205);
  border-style: inset;
}

/* background for link text END */

/*
---------------------------------------------------------------
*/

/* start page container START  */
.startpage-container {

  
  display: block;
  align-items: center;
  max-width: 100%;
  width: 100%;
  border: hidden;
  padding: 10px;
}


.startpage-div {
  display: inline-block;
  

  text-align: center;
 
  min-width: 40%;
  border-radius: 30px;
  border-width: 5px;
  border-style: inset;
  border-color: rgb(85, 100, 100);
  background-color: rgba(92, 104, 107, 1);
}
.startpage-img {
  width: 320px;
  border-radius: 20px;
}

/*
---------------------------------------------------------------
*/

