html {
    font-size: 20px; 
}

/* body START */
body{
    background-color: rgb(0, 0, 0);
    color: white;
    max-width: 90vw;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
}
/* body END */


/* header START */
header {
  background-color: rgb(53, 1, 1);
  position: fixed;
  left: 0;
  right: 0;
  top: 0px;
  height: 30px;
  display: flex;
  align-items: left;
  box-shadow: 0 0 25px 0 black;
  }
  header * {
  display: inline;
  }
  header li {
  margin: 5px;
  font-weight: bold;
  font-size: 20px;
  background-color: rgb(53, 1, 1);
  }
  header li a {
  color: blue;
  text-decoration: none;
  }

  header li.visited {
    color: blue;
  }
/* header END */


/* layout links background START */
.layoutlinks {
  background-color: rgb(26, 29, 25);
}
/* layout links background END */


/* move main up START */
.moveup {
margin-top: -45px;
}
/* move main up END */


/* table START */
th{
  background-color: rgb(32, 32, 32);
  
}
/* table END */


/* link START */
a:link {color: rgb(90, 90, 255)}
a:visited{color: rgb(131, 102, 160);}
a:hover {
    color: rgb(0, 0, 145);
    background-color: rgb(172, 172, 172);
    text-decoration: underline;
  }
  
a:active {
    color: blue;
    background-color: rgb(50, 50, 50);
    text-decoration: underline;
  }
/* link END */


/* paragraphs START */
.oneh {max-width: 100px;}
.twoh {max-width: 200px;}
.threeh {max-width: 300px;}
.fourh {max-width: 400px;}
.fiveh {max-width: 500px;}
.sixh {max-width: 600px;}
.sevenh {max-width: 700px;}
/* paragraphs END */


/* superscript START */
sup {
  vertical-align: super;
  font-size: 13px;
}

/* superscript END */